.profile {
    background-color: rgba(32, 32, 32, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px 0 0 0;
    height: 100vh;
}

.profile__greeting {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 60px;
}

.profile__form {
    display: grid;
    grid-template-rows: 15px 17px 31px 220px 14px;
    align-items: end;
    max-width: 410px;
    width: 100%;
    max-width: 410px;
    padding: 63px 0 17px;
}

.profile__form__lable {
    border: none;
    display: grid;
    grid-template-areas:
        'hint input'
        'error error';
}

.profile__form__hint {
    grid-area: hint;
    font-weight: 500;
    font-size: 11px;
    width: 100%;
    line-height: 13px;
    max-width: 34px;
}

.profile__form__input {
    grid-area: input;
    padding: 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    background: none;
    border: none;
    width: 100%;
    color: #fff;
}

.profile__form__input-error {
    grid-area: error;
    color: #f00;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    align-self: end;
    text-align: center;
}

.profile__form-error {
    color: #f00;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;
    align-self: end;
    text-align: center;
}

.profile__form__line {
    margin: 0;
    max-width: 410px;
    width: 100%;
}


.profile__form__submit {
    cursor: pointer;
    border: none;
    background: none;
    color: #fff;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    width: fit-content;
    align-self: center;
    justify-self: center;
}

.submit_disable {
    color: #f00;
    opacity: .5;
}

.profile__link {
    color: #f00;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    background: none;
    border: none;
}

@media screen and (max-width: 768px) {
    .profile {
        padding: 236px 0 0;
    }

    .profile__form {
        padding: 36px 0 6px;
        grid-template-rows: 15px 17px 31px 200px 34px;
    }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile {
        padding: 70px 30px 0;
    }

    .profile__form {
        padding-top: 19px;
        grid-template-rows: 15px 17px 31px 370px 34px;
    }

    .profile__form__submit,
    .profile__link {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
}