.notfound {
    background-color: rgba(32, 32, 32, 1);
    height: 1024px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 414px 25px 202px;
    justify-items: center;
    align-items: end;
}

.notfound__title {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
}

.notfound__text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.notfound__link {
    text-decoration: none;
    color: rgba(66, 133, 244, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: min-content;
}

@media screen and (max-width: 768px) {
    .notfound {
        grid-template-rows: 577px 25px 202px;
    }

    .notfound__title {}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .notfound {
        height: 780px;
        grid-template-rows: 427px 25px 299px;
    }

    .notfound__title {
        font-weight: 400;
        font-size: 80px;
        line-height: 97px;
    }

    .notfound__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }

    .notfound__link {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
}