.header {
    height: 74px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 2fr;
    padding: 0 70px;
    grid-template-areas: 'logo .';
}

.header__logo {
    width: 38px;
    height: 38px;
    display: block;
    align-self: center;
    justify-self: start;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    grid-area: logo;
    transition: 1s;
}

.header_about {
    background-color: rgba(7, 48, 66, 1);
}

.header_movies {
    background-color: rgba(32, 32, 32, 1);
}
.header_auth{
    background-color: rgba(32, 32, 32, 1);
    grid-template-columns: 1fr 396px 1fr;
    grid-template-areas: '. logo .';
    align-content: end;
    height: 108px;
}
@media screen and (min-width: 1279px) {
    .header{
        grid-template-columns: minmax(100px, 372px) minmax(300px, 768px);
        justify-content: center;
    }
}
@media screen and (max-width: 768px) {
    .header{
        padding: 0 30px;
        max-width: 768px;
    }
    .active::before{
        content: '';
        width: 100%;
        height: 100%;
        background-color: #000;
        position: absolute;
        z-index: 2;
        opacity: .5;
    }
    .header.header_auth {
        height: 270px;
    }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    .header{
        padding: 0 14px;
    }
    .header__logo{
        z-index: 4;
    }
    .header.active .header__logo{
        opacity: 0;
        visibility: hidden;
    }
    .header_auth{
        display: flex;
        justify-content: center;
        max-height: 94px;
    }
    .header.header_auth .header__logo{
        align-self: end;
    }
}